@import url(https://fonts.googleapis.com/css?family=Arimo);

body {
    background: #a7a7a7;
    font-family: "Arimo", sans-serif;
    text-align: center;
    font-size: medium;
}

#div_nav {
    text-align: center;
    padding: 2.5% 0;
    background-color: #716b6b;
}

.LinksButtons {
    margin: auto;
    padding: 0 2.0%;
    color: #003d66;
}

.Label {
    text-align: left;
    font-weight: 700;
}

.inicio {
    float: left;
    margin: auto;
    padding: 0 1.0%;
    background-color: #0033CC;
    text-decoration: none;
    color: #a7a7a7;
    font-weight: 700;
}

.tabla {
    font-weight: 400;
}
TABLE.tablalistado {
    BACKGROUND-COLOR: #74aefa;
}

    TABLE.tablalistado TR {
        BACKGROUND-COLOR: #a7a7a7;
    }

    TABLE.tablalistado TH {
        BACKGROUND-COLOR: #003d66;
        PADDING: 4px;
    }

    TABLE.tablalistado TD {
        PADDING: 4px;
    }
