.search-form {
    position: absolute;
   float:right;
   top:0px;
    transform: translate(-50%);
}

.search-box input[type="text"] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 17px;
    color: transparent;
    font-size: .75rem;
    line-height: 25px;
    
}

    .search-box input[type="text"]:hover {
        cursor: pointer;
    }

        .search-box input[type="text"]:hover:focus {
            cursor: text;
        }

        .search-box input[type="text"]:hover + span {
            background: rgba(255, 255, 255, 0.2);
        }

    .search-box input[type="text"]:focus {
        width: 150px;
        padding: 0 15px;
        outline: none;
        color: black;
        background: none;
    }

        .search-box input[type="text"]:focus + span {
            width: 250px;
            height: 20px;
            border: none;
            background: #ebeff1;
        }

            .search-box input[type="text"]:focus + span::before {
                width: 2px;
                opacity: 0;
            }

    .search-box input[type="text"] + span {
        z-index: -1;
        position: absolute;
        top: 0;
        border-radius: 25px;
        left: 0px;
    }
