/*MASTER USUARIO*/
body {
    background-color:black;
    margin:0 auto;
    
    
}
header {
    
    width: 1319px;
    height: 103px;
}


#div_nav {
    text-align: center;
    display: inline-block;
}


footer {
    color: white;
   
}

.Button {
    outline-color: black;
    border-bottom-style: none;
    border-bottom-color: none;
    background-color: black;
    color: white;
    border:0;
}


#LOGOBUTTON {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
    outline-color: black;
    border-bottom-style: none;
    border-bottom-color: none;
    background-color: black;
    color: white;
    border: 0;
}
/*PAGINA PRINCIPAL*/
#Control{
    color: white;

}
#Peliculas{
    text-align:center;
    margin-right:60%;
    color: white;
}
#Lista{
    text-align:center;
    margin-left:25%;
}