@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.usuario {
    width: 250px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.menu_user {
    width: 250px;
   
}
.menu_user a {
    background-color:#03285b;
    color: black; 
    display: block; 
    padding: 12px;
    
    text-decoration: none; 
}

.menu_user a:hover {
    background-color: #ccc; /* Color para el mouse-over */
}

.menu_user a.active {
    background-color: #032d74; /* Para marcar el link activo */
    color: white;
}
.contenido {
    position:absolute;
    top:100px;
    left:300px;
    height: 390px;
    background-color: #03285b;
    width: 1000px;
    color: green;
}
.Titulos {
    display: block;
    color: white;
    margin: 10px 0px 10px 12px;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}


#dlistCompras {
    margin: 10px 0px 0px 20px;
}
#grdCompras {
    margin: 30px 0px 0px 10px;
    width: 970px;
    text-align: center;
}

.tabla{
    padding-bottom:2px;
    margin:10px 10px 10px 10px;
    
}
hr.auto-style8 {
    margin-top:15px;
    border-color: darkgray;
    border:10px 10px 10px 10px;
}
.Contrasenias {
    margin: 0px 30px 10px 90px;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    height: 5px;
}

.Guardar {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    margin: 10px 0px 10px 90px;
    border-radius: 15px;
    padding: 10px;
    width: 64%;
    display: block;
    height: 40px;
}
.Error
{
    color:darkred;
    font-weight:bold;
    margin-left:90px;
}