.usuario{
    width:250px;
    padding-bottom:10px;
    margin-top:10px;
}

.menu_user {
    width: 250px;
   
}
.menu_user a {
    background-color:#03285b;
    color: black; 
    display: block; 
    padding: 12px;
    
    text-decoration: none; 
}

.menu_user a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu_user a.active {
    background-color: #032d74; /* Add a green color to the "active/current" link */
    color: white;
}
.contenido{
    margin-top:30px;
    height:350px;
    background-color:#303030;
    width:1000px;
}
.Titulos{
    color:white;
    margin:10px 10px 10px 10px;
    font-size:larger;
}
#lblSinCompras{
    color:#808080;
    padding-left:10px;
}
.tabla{
    padding-bottom:2px;
    margin:10px 10px 10px 10px;
    
}
hr.auto-style8 {
    margin: 10px 10px 10px 10px;
}