@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.usuario {
    width: 250px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.menu_user {
    width: 250px;
   
}
.menu_user a {
    background-color:#03285b;
    color: black; 
    display: block; 
    padding: 12px;
    
    text-decoration: none; 
}

.menu_user a:hover {
    background-color: #ccc; /* Color para el mouse-over */
}

.menu_user a.active {
    background-color: #032d74; /* Para marcar el link activo */
    color: white;
}
.contenido {
    margin-top: 30px;
    height: 350px;
    background-color: #03285b;
    width: 1000px;
}
.Titulos {
    color: white;
    margin: 50px 10px 10px 20px;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
    top: 30px;
}
#lblSinCompras{
    color:#808080;
    padding-left:10px;
}
.tabla{
    padding-bottom:2px;
    margin:10px 10px 10px 10px;
    
}
hr.auto-style8 {
    margin-top:15px;
    border-color: darkgray;
    border:10px 10px 10px 10px;
}